body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Add the Tailwind directives to your CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* To make the footer sticky at the bottom of the page
   when the content height is less than the browser window height,
   one workaround is to set the minimum height of major-content
   to 100% of the viewport height.
*/
.major-content {
  min-height: 100vh; /* 100% of the viewport height */
}
