annotated-types==0.7.0
anyio==4.4.0
APScheduler==3.10.4
beanie==1.26.0
certifi==2024.8.30
click==8.1.7
dnspython==2.6.1
exceptiongroup==1.2.2
fastapi==0.114.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
iniconfig==2.0.0
lazy-model==0.2.0
llvmlite==0.43.0
loguru==0.7.2
motor==3.5.1
numba==0.60.0
numpy==2.0.2
packaging==24.1
pluggy==1.5.0
pydantic==2.9.1
pydantic_core==2.23.3
pymongo==4.8.0
pytest==8.3.3
pytz==2024.2
PyYAML==6.0.2
scipy==1.14.1
six==1.16.0
sniffio==1.3.1
starlette==0.38.5
toml==0.10.2
tomli==2.0.1
typing_extensions==4.12.2
tzlocal==5.2
uvicorn==0.30.6
