{% extends "base.html" %}


{% block head %}
    {{ super() }}
    <title>{{contest_name}}</title>

{% endblock %}


{% block header %}
    {{ super() }}
{% endblock %}


{% block main %}

        <div class="container centered" style="margin-bottom:30px;">
            <div class="row">
                <div class="col s1">
                    {% if current_page %}
                    <a class="waves-effect waves-light btn-small black" href="/" style="display: flex; justify-content: center;">
                    {% else %}
                    <a class="waves-effect waves-light btn-small black" href="/{{contest_name}}/1" style="display: flex; justify-content: center;">
                    {% endif %}
                        <i class="material-icons">arrow_back</i>
                    </a>
                </div>
                <div class="col s9 m10 l10" style="text-align: center; font-size: 1.5rem;">
                    {{' '.join(contest_name.split('-')) | title }}
                </div>
                {% if current_page %}
                <div class="col s1">
                    <a class="waves-effect waves-light btn-small black" href="/{{contest_name}}/1" style="display: flex; justify-content: center;">
                        <i class="material-icons">refresh</i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="container centered">
            <form class="col s12" action="/{{contest_name}}/query_user" method="POST">
                <div class="row">
                    <div class="input-field col s6 offset-s2 m4 offset-m4 l4 offset-l4">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="username" id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                    <div class="col s2 m2 l2">
                        <button class="btn-small waves-effect waves-light black" type="submit" style="margin-top: 25px">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {% if current_page == 1 %}
        <div class="container hide-on-small-only" id="question_plot" style="width: 80em; height:30em;" contest_name="{{contest_name}}"></div>
        {% endif %}
        <div class="container hide-on-small-only" id="user_rank_plot" style="display:none; width: 80em; height:30em;"></div>

        <table class="container highlight centered responsive-table">
            <thead>
                <tr class="card-panel blue lighten-2">
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Region</th>
                    <th>Old Rating</th>
                    <th>New Rating</th>
                    <th>Delta</th>
                    <th class="hide-on-small-only">Plot</th>
                </tr>
            </thead>

            <tbody>
                {% for user in user_list %}
                <tr>
                    <td class="grey lighten-5">#{{user.rank}}</td>
                    <td>
                        {% if user.data_region == 'CN' %}
                        <a href="https://leetcode.cn/u/{{user.username}}">{{user.username}}</a>
                        {% else %}
                        <a href="https://leetcode.com/{{user.username}}">{{user.username}}</a>
                        {% endif %}
                    </td>
                    <td>{{user.country_name if user.country_name}}</td>
                    <td>{{user.old_rating | round(2)}}</td>
                    <td>{{user.new_rating | round(2)}}</td>
                    {% if user.delta_rating > 0 %}
                    <td style="background-color:hsla(0, 100%, 66%, {{0.1 + user.delta_rating / 100}});">
                        {{"+{}".format(user.delta_rating | round(2))}}
                    </td>
                    {% else %}
                    <td style="background-color:hsla(120, 100%, 66%, {{0.2 - user.delta_rating / 100}});">
                        {{user.delta_rating | round(2)}}
                    </td>
                    {% endif %}
                    <td class="hide-on-small-only">
                        <div class='rankListClick btn-small blue lighten-2 trigger_popup_fricc'
                             contest_name="{{user.contest_name}}"
                             username="{{user.username}}"
                             data_region="{{user.data_region}}"
                             type="button"
                             onClick="document.getElementById('user_rank_plot').scrollIntoView();"
                        > Trend
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if user_list.__len__() == 0 %}
        <div class="container" style="text-align: center; font-size: 15px;">Cannot find any records</div>>
        {% endif %}

        {% if current_page %}
        <div class="container">
            <ul class="pagination">

                {% if current_page == 1 %}
                    <li class="disabled"><a href="#!"><i class="material-icons">fast_rewind</i></a></li>
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="waves-effect"><a href="/{{contest_name}}/1"><i class="material-icons">fast_rewind</i></a></li>
                    <li class="waves-effect"><a href="/{{contest_name}}/{{current_page - 1}}"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}

                {% for single_page in pagination_list%}
                    {% if single_page == current_page %}
                    <li class="active blue lighten-2"><a href="/{{contest_name}}/{{single_page}}">{{single_page}}</a></li>
                    {% else %}
                    <li class="waves-effect"><a href="/{{contest_name}}/{{single_page}}">{{single_page}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if current_page == max_page %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    <li class="disabled"><a href="#!"><i class="material-icons">fast_forward</i></a></li>
                {% else %}
                    <li class="waves-effect"><a href="/{{contest_name}}/{{current_page + 1}}"><i class="material-icons">chevron_right</i></a></li>
                    <li class="waves-effect"><a href="/{{contest_name}}/{{max_page}}"><i class="material-icons">fast_forward</i></a></li>
                {% endif %}

            </ul>
        </div>
        {% endif %}

{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}


{% block scripts %}
    {{ super() }}

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.3/echarts.min.js"></script>

    <script src="{{url_for('static', path='/js/user-rank-plot.js')}}" type="module" ></script>

    <script src="{{url_for('static', path='/js/questions-finished-plot.js')}}" type="module" ></script>

{% endblock %}



